# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java web 项目\httpserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
